[package]
name = "test-env-settings"

authors.workspace = true
categories.workspace = true
description.workspace = true
documentation.workspace = true
edition.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]

[dev-dependencies]
env-settings = { path = "./../env-settings" }
env-settings-derive = { path = "./../env-settings/env-settings-derive" }
env-settings-utils = "0.1"
rstest = "0.18"
syn = { version = "1.0", features = ["extra-traits"] }
