name: Release

on:
  workflow_dispatch:

jobs:
  validate:
    uses: ./.github/workflows/validate.yml

  release:
    needs: validate
    permissions:
      contents: write
    outputs:
      tag: ${{ steps.tag.outputs.tag }}
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4.0.0
        with:
          ref: ${{ github.ref_name }}

      - name: Cache Rust
        uses: actions/cache@v3.3.2
        with:
          path: |
            ~/.cargo
            ./target/.rustc_info.json
            ./target/CACHEDIR.TAG
            ./target/debug
            ./target/doc
          key: ${{ runner.os }}-${{ hashFiles('Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ hashFiles('Cargo.lock') }}
            ${{ runner.os }}

      - name: Install cargo-release
        run: cargo install cargo-release

      - name: Setup git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions@users.noreply.github.com"

      - name: Cargo login
        run: cargo login ${{ secrets.CRATES_API_TOKEN }}

      - name: Release Rust library
        run: cargo release --execute --no-confirm --tag-prefix "" --unpublished

      - name: Output tag
        id: tag
        run: echo "tag=$(git describe --tags --abbrev=0)" >> $GITHUB_OUTPUT

  github-release:
    needs: release
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4.0.0

      - name: Create Github release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ needs.release.outputs.tag }}

  publish-coverage:
    needs: release
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      id-token: write
      pages: write
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4.0.0

      - name: Cache Rust
        uses: actions/cache@v3.3.2
        with:
          path: |
            ~/.cargo
            ./target/.rustc_info.json
            ./target/CACHEDIR.TAG
            ./target/debug
            ./target/doc
          key: ${{ runner.os }}-${{ hashFiles('Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ hashFiles('Cargo.lock') }}
            ${{ runner.os }}

      - name: Install cargo-tarpaulin
        run: cargo install cargo-tarpaulin

      - name: Generate coverage report
        run: |
          cargo tarpaulin --out html -- --test-threads=1
          mkdir tarpaulin
          mv ./tarpaulin-report.html ./tarpaulin/index.html

      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v2.0.0
        with:
          path: ./tarpaulin

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2.0.4

  update-branches:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.0.0

      - name: Merge ${{ github.base_ref }} -> develop
        uses: devmasx/merge-branch@v1.4.0
        with:
          from_branch: ${{ github.base_ref }}
          target_branch: develop
          github_token: ${{ github.token }}
          type: now

      - uses: actions/checkout@v4.0.0
        with:
          ref: develop

      - name: Setup git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions@users.noreply.github.com"

      - name: Update version
        run: |
          cargo release version patch --execute --no-confirm
          git add Cargo.toml
          git commit --message "Update version: patch"
          git push
